.u-section-1 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 46px 112px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: -48px auto 0 33px;
}

.u-section-1 .u-gallery-1 {
  width: 689px;
  height: 578px;
  grid-gap: 10px 10px;
  margin: 55px auto 0 18px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-form-1 {
  height: 544px;
  margin: -578px 0 0 725px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px !important;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px !important;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px !important;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px !important;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px !important;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px !important;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 125px auto 0;
}

.u-section-1 .u-icon-1 {
  font-size: 2.125em;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0 auto 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-left: 525px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -75px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 78px;
    height: 78px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}